<a href="https://colab.research.google.com/github/fridymandita/TKB/blob/main/Indonesia_Trends.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [29]:
import datetime

In [43]:
!pip install pytrends

Requirement already satisfied: pytrends in /usr/local/lib/python3.7/dist-packages (4.8.0)
Requirement already satisfied: requests>=2.0 in /usr/local/lib/python3.7/dist-packages (from pytrends) (2.23.0)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.7/dist-packages (from pytrends) (1.3.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pytrends) (4.2.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->pytrends) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->pytrends) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->pytrends) (1.21.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25->pytrends) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0->pytrends) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0->pytrends) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0->pytrends) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0->pytrends) (3.0.4)

In [31]:
import pandas as pd                        
from pytrends.request import TrendReq
pytrend = TrendReq(hl='en-US', tz=300, geo='ID')

In [32]:
# Get Google Top Charts
df = pytrend.top_charts(date=2020, hl='en-US', tz=300, geo='ID')
df

           title exploreQuery
0       Ghosting
1          Gabut
2       Lockdown
3        Rebahan
4            WFH
5         Resesi
6  Kuota Belajar
7   Virus Corona
8           PSBB
9       Among Us

In [33]:
# Get Google Hot Trends data
df = pytrend.trending_searches(pn='indonesia')
df

                                   0
0                 Burnley vs Everton
1                     SEA Games 2022
2                         Wika Salim
3                        Gareth Bale
4                 Robert Lewandowski
5                          FK Senica
6                 Pacar Jefri Nichol
7          Cuti Bersama Lebaran 2022
8              Pengumuman SNMPN 2022
9                       Park Ji Hyun
10                   Rachmat Irianto
11    Hasil Liga Champion tadi malam
12               Galang Rambu Anarki
13                            Mingyu
14  Eintracht Frankfurt vs Barcelona
15                            Wonwoo
16                           Binance
17  Business Proposal berapa episode
18                               PPG
19                          Trans TV

In [34]:
kw_list = ['ghosting','gabut','lockdown','rebahan','wfh','resesi','kuota belajar','virus corona','psbb','among us']

In [35]:
trends_df = pd.DataFrame()
for i in kw_list:
   ##build out query
   temp_df = pd.DataFrame()
   pytrend.build_payload([i], geo='ID', cat=0,timeframe='2020-01-01 2020-12-01')
   
   ##save trend to dictionary
   temp_df = pytrend.interest_over_time()
   temp_df['kw'] = i
   temp_df.reset_index(level=0, inplace=True)
   temp_df.columns = ['date', 'value', 'isPartial', 'kw']

   trends_df = pd.concat([trends_df,temp_df[['date','value','kw']]])

trends_df

         date  value        kw
0  2020-01-05      7  ghosting
1  2020-01-12      5  ghosting
2  2020-01-19      6  ghosting
3  2020-01-26      4  ghosting
4  2020-02-02      6  ghosting
..        ...    ...       ...
43 2020-11-01     30  among us
44 2020-11-08     26  among us
45 2020-11-15     23  among us
46 2020-11-22     21  among us
47 2020-11-29     16  among us

[480 rows x 3 columns]