<a href="https://colab.research.google.com/github/fridymandita/TKB/blob/main/Indonesia_Trends.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
import datetime

In [3]:
!pip install pytrends

Collecting pytrends
  Downloading pytrends-4.8.0.tar.gz (19 kB)
Requirement already satisfied: requests>=2.0 in /usr/local/lib/python3.7/dist-packages (from pytrends) (2.23.0)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.7/dist-packages (from pytrends) (1.3.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pytrends) (4.2.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->pytrends) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->pytrends) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->pytrends) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25->pytrends) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0->pytrends) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0->pytrends) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0->pytrends) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0->pytrends) (2021.10.8)
Building wheels for collected packages: pytrends
  Building wheel for pytrends (setup.py) ... done
  Created wheel for pytrends: filename=pytrends-4.8.0-py3-none-any.whl size=16126 sha256=7d25efc83cc56dd4b228b276a90d77ba91f0ec1e285622a55cf940f2cc027969
  Stored in directory: /root/.cache/pip/wheels/07/6f/5c/8174f98dec1bfbc7d5da4092854afcbcff4b26c3d9b66b5183
Successfully built pytrends
Installing collected packages: pytrends
Successfully installed pytrends-4.8.0

In [4]:
import pandas as pd                        
from pytrends.request import TrendReq
pytrend = TrendReq(hl='en-US', tz=300, geo='ID')

In [5]:
# Get Google Top Charts
df = pytrend.top_charts(date=2020, hl='en-US', tz=300, geo='ID')
df

           title exploreQuery
0       Ghosting
1          Gabut
2       Lockdown
3        Rebahan
4            WFH
5         Resesi
6  Kuota Belajar
7   Virus Corona
8           PSBB
9       Among Us

In [6]:
# Get Google Top Charts
df = pytrend.top_charts(date=2021, hl='en-US', tz=300, geo='ID')
df

         title          exploreQuery
0     Komorbid          komorbid apa
1     Insecure  insecure apa artinya
2        Jamet         apa itu jamet
3        Gelay
4       Mletre
5     Ghosting
6  Ikoy Ikoyan
7         Cepu
8    Disleksia
9       Lampor

In [7]:
# Get Google Hot Trends data
df = pytrend.trending_searches(pn='indonesia')
df

                                   0
0                 Burnley vs Everton
1           Spartak Trnava vs Senica
2                         Wika Salim
3                     SEA Games 2022
4                 Robert Lewandowski
5                          Reza Arap
6                 Pacar Jefri Nichol
7                             Lakers
8           Wedding Agreement Series
9                           Syahrini
10                        Pau Torres
11         Cuti bersama Lebaran 2022
12                      Park Ji Hyun
13             Pengumuman SNMPN 2022
14          Klasemen AFF Futsal 2022
15    Hasil Liga Champion tadi malam
16  Eintracht Frankfurt vs Barcelona
17                   Rachmat Irianto
18               Galang Rambu Anarki
19                            Mingyu

In [ ]:
kw_list = ['ghosting','gabut','lockdown','rebahan','wfh','resesi','kuota belajar','virus corona','psbb','among us']

In [ ]:
trends_df = pd.DataFrame()
for i in kw_list:
   ##build out query
   temp_df = pd.DataFrame()
   pytrend.build_payload([i], geo='ID', cat=0,timeframe='2020-01-01 2020-12-01')
   
   ##save trend to dictionary
   temp_df = pytrend.interest_over_time()
   temp_df['kw'] = i
   temp_df.reset_index(level=0, inplace=True)
   temp_df.columns = ['date', 'value', 'isPartial', 'kw']

   trends_df = pd.concat([trends_df,temp_df[['date','value','kw']]])

trends_df

         date  value        kw
0  2020-01-05      7  ghosting
1  2020-01-12      5  ghosting
2  2020-01-19      6  ghosting
3  2020-01-26      4  ghosting
4  2020-02-02      6  ghosting
..        ...    ...       ...
43 2020-11-01     30  among us
44 2020-11-08     26  among us
45 2020-11-15     23  among us
46 2020-11-22     21  among us
47 2020-11-29     16  among us

[480 rows x 3 columns]

In [10]:
# Get Google Top Charts
df = pytrend.top_charts(date=2021, hl='en-US', tz=300, geo='MY')
df

                       title exploreQuery
0                    i-Sinar      i sinar
1                  Euro 2021
2                     Popcat
3                    i-Citra      i citra
4    Bantuan Prihatin Rakyat          bpr
5     English Premier League          epl
6                Google Meet
7                    i-Akaun      i akaun
8  Bantuan Prihatin Nasional          bpn
9                 Squid Game

In [11]:
# Get Google Hot Trends data
df = pytrend.trending_searches(pn='malaysia')
df

                              0
0            Burnley vs Everton
1                  Park Ji Hyun
2                         Foray
3                  Erik ten Hag
4                Doctor Strange
5          Benfica vs Liverpool
6   Man City vs atlÃ©tico Madrid
7          Villarreal vs Bayern
8         Pakistan vs Australia
9       Seventeen Wonwoo Mother
10                    MI vs KKR
11              Tamarind Square
12                      Khonshu
13               Suns vs Lakers
14                   Soo Wincci
15     Malaysia Airlines flight
16       Chelsea vs Real Madrid
17             Champions League
18                      BIGBANG
19              Korea Open 2022